.winningRecordContainer {
  background-image: url(../../assets/sidebar/winPrizeList-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #1a1726;
  height: 30%;
  position: relative;
}
