.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  // animation: changeBg 10s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
}

@keyframes changeBg {
  0% {
    background-image: url(../assets/transition-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  100% {
  }
}
