.sideBarContainer {
  width: 100%;
  height: 70%;
  background-image: url(../assets/sidebar/sidebar-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  position: relative;
  overflow: hidden;

  .moneyBox {
    height: 82%;
    width: 96%;
    position: absolute;
    bottom: 1.5%;
    left: 2%;

    // background-color: blue;

    -webkit-clip-path: polygon(
      8.5% 91.5%,
      0 91.5%,
      0 1%,
      100% 1%,
      100% 91.2%,
      91.5% 91.2%,
      91.5% 94.7%,
      86% 94.7%,
      86% 100%,
      14.3% 100%,
      14.3% 95%,
      8.5% 95%
    );

    clip-path: polygon(
      8.5% 91.5%,
      0 91.5%,
      0 1%,
      100% 1%,
      100% 91.2%,
      91.5% 91.2%,
      91.5% 94.7%,
      86% 94.7%,
      86% 100%,
      14.3% 100%,
      14.3% 95%,
      8.5% 95%
    );
  }

  .moneyAnimation {
    background-image: url(../assets/sidebar/彩金分解_JP框_金幣元寶.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 120%;

    opacity: 0;
    transform: translateY(-10%);

    animation: moneyMove 30s ease-in infinite;
  }

  .flipNumberBox {
    width: 95%;
    height: 60%;

    position: absolute;
    top: 17%;
    left: 2.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3%;

    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }

    .jackpot {
      // background-color: rgba(0, 0, 0, 0.4);
      background-image: url(../assets/sidebar/彩金分解_JP框_JP1.png);
    }

    .secondPrize {
      // background-color: rgba(141, 238, 111, 0.6);
      background-image: url(../assets/sidebar/彩金分解_JP框_JP2.png);
    }

    .thirdPrize {
      // background-color: rgba(77, 78, 76, 0.8);
      background-image: url(../assets/sidebar/彩金分解_JP框_JP3.png);
    }

    .fourthPrize {
      // background-color: rgba(141, 238, 111, 0.6);
      background-image: url(../assets/sidebar/彩金分解_JP框_JP4.png);
    }

    .fifthPrize {
      // background-color: rgba(77, 78, 76, 0.8);
      background-image: url(../assets/sidebar/彩金分解_JP框_JP5.png);
    }

    .sixthPrize {
      // background-color: rgba(141, 238, 111, 0.6);
      background-image: url(../assets/sidebar/彩金分解_JP框_JP6.png);
    }
  }
}

@keyframes moneyMove {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }

  90% {
    opacity: 1;
    transform: translateY(-10%);
  }
}
